.header {
  display: flex;
  justify-content: center;
  background-color: var(--fifth-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  column-gap: 2rem;
  margin: 1rem 0;
}

.nav-list {
  display: flex;
  column-gap: 2.5rem;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3rem;
  font-size: var(--h3-font-size);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: var(--fifth-color);
}

.col-1 {
  width: 25%;
}

.hero-text {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
}

.secondary-text {
  font-size: var(--h3-font-size);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.download-btn {
  margin-top: 1rem;
  padding: 0 5rem;
}

.download-icon {
  margin-right: 0.5rem;
}

.svg-content {
  width: 35%;
  height: auto;
}

.svg-content-too {
  width: 500px;
  height: auto;
}

.secondary-content {
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20%;
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  background-color: var(--first-color);
  padding: 2rem;
  border-radius: 1rem;
}

.desktop {
  padding-bottom: 5.2rem;
}

.download-text {
  color: var(--not-quite-black);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--fifth-color);
}
