// body {
//   background-color: rgb(37, 35, 143);
// }

.login-bg {
  width: 40%;
  height: auto;
}

.one,
.two,
.three {
  position: absolute;
}

.one {
  bottom: 0;
}

.two {
  right: 0;
}

.three {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 70%;
}

.login-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
  width: 500px;
  padding: 40px;
  z-index: var(--z-fixed);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}
