.message-input {
  position: absolute;
  right: 1.3rem;
  left: 20rem;
  bottom: 2rem;
  z-index: var(--z-fixed);
}

.chat-container {
  position: absolute;
  padding: 1rem 0;
  height: 53rem;
  left: 20rem;
  right: 0;
  top: 3.5rem;
  overflow-y: auto;
}

.sender-container {
  margin-bottom: 1rem;
}

.messages-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-left: 3.4rem;
}
